<nav id="header" class="navbar fixed-top navbar-expand-md shadow navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" [ngClass]="sidebarCollapsed?'active':''" type="button" data-bs-toggle="collapse" (click)="toggleSidebar(true)" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="userControl">
      <div class="user" (click)="toggleUser(true)">
        <i class="fas fa-user-circle" data-bs-toggle="dropdown" aria-expanded="false"></i><span>{{ name }}</span>
      </div>
      <ul class="dropdown-menu show" [ngClass]="userCollapsed?'active':''" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Setting</a></li>
        <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Sidebar -->
<nav id="sidebar" class="bg-light" [ngClass]="sidebarCollapsed?'active':''" (click)="toggleUser()">
  <div class="sidebar-header">
      <a class="brand" routerLink="/">Invoice System</a>
  </div>
  <ul class="list-unstyled components">

  </ul>
</nav>
<div class="main" [ngClass]="sidebarCollapsed?'active':''" (click)="toggleUser();toggleSidebar()">
  <router-outlet></router-outlet>
</div>
